<link rel="stylesheet" href="/static/vendor/simplelightbox/simple-lightbox.min.css"/>
<script src="/static/vendor/simplelightbox/simple-lightbox.min.js"></script>

<script>
  (function () {
    const $gallery = new SimpleLightbox('figure a', {
      'overlayOpacity': 0.6,
      'uniqueImages': false
    });
  })();
</script>
