---
layout: simple
---
<section class="section-header bg-secondary text-white">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                <div class="h5 mb-4 text-orange">🚧  Страничка в разработке  🚧</div>
                <h1 class="display-4 mb-4">{{ title }}</h1>
                <p class="lead mb-4 text-muted">{{ content | safe }}</p>
            </div>
            <div class="col-12 col-md-5 d-none d-md-block text-center">
                <img style="max-height: 42vh;" src="/images/fixiki/{{ fixik.name }}.png" alt="fixik">
            </div>
       </div>
    </div>
</section>