---
layout: simple
---
<article>
{{ content | safe }}
</article>

<p>
    <time datetime="{{ (last_modified_at or page.date) | htmlDateString }}">Обновлено: {{ (last_modified_at or page.date) | readableDate }}</time>
</p>
